.welcome .greeting{
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--color-mid);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.welcome p {
  margin: 0;
}

.welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.welcome a {
  color: var(--color-brand);
  text-decoration: none;
}

.welcome a:hover {
  text-decoration: underline;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.table thead {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.table tbody tr:nth-child(even) {
  background-color: var(--color-lightgray);
}

.table tbody tr:hover {
  background-color: var(--color-light);
}

.table td {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid var(--color-lightgray);
}

.table a{
  color: var(--color-white);
}

.chat-button {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.chat-reply {
  margin-top: 1rem;
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 2px solid var(--color-mid);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-reply p {
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.card {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 1rem;
  width: 45%;
  margin-bottom: 1rem;
   /* Add box shadows */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  /* Adjust the box shadow on hover if desired */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
} 

.card a:hover{
    text-decoration: none;
}
